
<div materialize="carousel" class="carousel">
<a class="carousel-item" href="#one!"><img src="http://lorempixel.com/800/600/nature/1"></a>
<a class="carousel-item" href="#two!"><img src="http://lorempixel.com/800/600/nature/2"></a>
<a class="carousel-item" href="#three!"><img src="http://lorempixel.com/800/600/nature/3"></a>
<a class="carousel-item" href="#four!"><img src="http://lorempixel.com/800/600/nature/4"></a>
<a class="carousel-item" href="#five!"><img src="http://lorempixel.com/800/500/nature/5"></a>
</div>
