<div>


</div>
  <div style="color:black" *ngIf="singleListings" materialize="carousel" class="carousel" (window:resize)="onResize($event)">
    <a *ngFor="let singleListing of singleListings" class="carousel-item">
      <div class="caption center-align">
        <h3>Check out this {{singleListing.title}}</h3>
        <h5 class="light">only {{singleListing.monthlyPrice |currency:'USD':true:'3.2-2' }} a month.</h5>
      </div><img src="http://lorempixel.com/800/600/transport/1">
    </a>
  <!-- <a class="carousel-item" >
      <div class="caption center-align">
        <h3>Check out this {{cars[1]}}</h3>
        <h5 class="light">only {{pricePerMonth[1] |currency:'USD':true:'3.2-2' }} a month.</h5>
      </div><img src="http://lorempixel.com/800/600/transport/2"></a>
      <a class="carousel-item" >
        <div class="caption center-align">
          <h3>Check out this {{cars[0]}}</h3>
          <h5 class="light">only {{pricePerMonth[0] |currency:'USD':true:'3.2-2' }} a month.</h5>
        </div>
        <img src="http://lorempixel.com/800/600/transport/3">
      </a>
      <a class="carousel-item" ><div class="caption center-align">
        <h3>Check out this {{cars[3]}}</h3>
        <h5 class="light ">only {{pricePerMonth[3] |currency:'USD':true:'3.2-2' }} a month.</h5>
      </div>
      <img src="http://lorempixel.com/800/600/transport/4">
    </a>
    <a class="carousel-item"><img src="http://lorempixel.com/800/500/transport/5"></a> -->
  </div>
