
<div class="landing">
  <div class="hero valign-wrapper">

      <div class="row">
           <div class="col s12 m5">
             <div class="card-panel">
               <h5 class="card-title">Have a job? Get a car!</h5>

               <span class="white-text">At superCredit if you have a job, you can get a car.  Check out our full inventory here or come by and see us in person.
               </span>
             </div>
           </div>
         </div>
    </div>



  <featured-carousel></featured-carousel>
</div>
