.landing {
  background-color: #eeeeee;
}

.hero {
  background-image: url('/images/dealership.jpg');
  background-size: cover;
  height: 300px;
  width: 100%;
  color: #393e46;
  /*text-shadow: 2px 3px 4px black;*/
  margin-top: 0;
  border-bottom: 3px solid #FD7014;
}

.card, .card-panel {
  background-color: #FD7014;
}
h1 {
  margin: 0;
}
