<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo waves-effect waves-block waves-light">supErCREDiT</a>
    <a materialize="sideNav" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down waves-effect waves-block waves-light">
      <li><a [routerLink]="['Landing']"><i class="material-icons right">view_module</i>Home</a></li>
      <li><a [routerLink]="['Gallery']"><i class="material-icons right">view_module</i>Gallery</a></li>
      <li><a href="#"><i class="material-icons right">email</i>Contact</a></li>
    </ul>
    <ul materialize="sideNav" class="side-nav" id="mobile-menu">
      <li><a [routerLink]="['Landing']"><i class="material-icons right">view_module</i>Home</a></li>
      <li><a [routerLink]="['Gallery']"><i class="material-icons right">view_module</i>Gallery</a></li>
      <li><a href="#"><i class="material-icons right">email</i>write</a></li>
    </ul>
  </div>
</nav>
<!-- <script>$(document).ready(function(){
       $(".button-collapse").sideNav('#mobile-menu')});

   </script> -->
